body {
    background: #FFFFFF url("/img/img/valentine-s-day-neon-heart-wallpaper-2560x1080_14.jpg") no-repeat right top fixed;

}

.container {


    color: #fff;


    font-family: sans-serif;
    font-size: 2rem;

}